{% extends "layout.html" %}

{% block body %}

    <h1>Registrar</h1>
    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Nome" type="text">
        <select name="esportes">
            <option disabled selected value="">Esportes</option>
            <option>Basquete</option>
            <option>Futebol</option>
            <option>Volei</option>
        </select>
        <button type="submit">Enviar</button>
    </form>

{% endblock %}
